@charset "utf-8";
/*----共通項目・打ち消し-----*/
body {
    width: 100%;
    text-align: center;
    justify-content: center;
} 
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none    
}

.inner {
    max-width: 1100px;
    margin: auto;
    justify-content: center;
    align-items: center;
}
h3 {
    font-size: 40px;
    letter-spacing: 10px;
    margin-top: 20px;
    margin-bottom: 35px;
}


/*----header-----*/
header {    
    height: 80px;
    background-color: #fff;
}
nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header i {
    margin: 15px 0;
    color: #777;
    padding-left: 80px;
}
header a {
    display: inline-block;
    width: 100px;
    height: 40px;
    line-height: 40px;
    color: #fff;
    background-color: #6ba7eb;
}
.contact-btn {
    margin-right: 80px;
}

/*----section キービジュアル-----*/
.keyvisual-image {
    width: 100%;
    position: relative;
}
.keyvisual-title {
    position: absolute;
    top: 400px;
    margin-bottom: 400px;
    padding: 0 20px;
    
}
.keyvisual-title h2 {
    margin-bottom: 30px;
    font-size:  65px;
    font-weight: 700;
    color: #6ba7eb;
}
.keyvisual-title h4 {
    font-size: 40px;
    font-weight: 700;
    color: #fff;
}

/*----section ニュース-----*/
.news div {
    background-color: #e3f2fd;
    padding-top: 50px;
    display: flex;
}
.news img {
    flex: 4;
    width: 250px;
    margin: 0 100px;
}
.news-text {
    flex: 6;
    font-size: 15px;
    line-height: 18px;
    word-break: break-all;
}



/*----section スキル-----*/
.skills {
    display: block;
    background-color: #fff;
}
.skills ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.skill-images img {
    width: 300px;
    height: 300px;
    opacity: 0.7;
}
.skill-images li {
    margin: 50px 100px 50px 0;
}
.skill-images li:nth-child(3n) {
    margin-right: 0;
}




/*----section プラン-----*/
.plan div {
    background-color: #d0dfea;
    padding: 50px 0;
}

.plan-table {
    font-size: 16px;
    height: 26px;
    font-weight: bold;
}
.plan-table thead {
    padding: 10px;
    background-color: #6ba7eb;
    font-size: 16px;
    height: 26px;
    border-left: 2px solid #fff;  
}



/*----section SNS-----*/
.sns {
    justify-content: center;
    background-color: #e3f2fd;
    padding: 200px 0px;
}
.sns a {
    width: 185px;
    font-size: 40px;
    padding: 25px 40px;
    color: #8c8c8c;
    overflow:hidden
}

/*----footer-----*/
footer {
    background-color: #cfd8dc;
    padding: 25px 0px;
    text-align: right;
}
footer p {
    margin: 0;
    font-size: 13px;
    letter-spacing: 0.5px;
    padding-right: 80px;
}