@charset "utf-8";
/*----共通項目・打ち消し-----*/
body {
    width:100%;
    text-align: center;
    justify-content: center;
} 
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none    
}

section .inner {
    display: flex;
}

.inner {
    max-width: 1100px;
    margin: auto;
    justify-content: center;
    align-items: center;
    
}
h3 {
    font-size: 40px;
    letter-spacing: 10px;
}


/*----header-----*/
header {    
    height: 80px;
    background-color:#fff;
}
nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header i {
    margin: 15px 0;
    color: #777;
}
header a {
    display: inline-block;
    width: 100px;
    height: 40px;
    line-height: 40px;
    color: #fff;
    background-color: #6ba7eb;
}

header a:hover {
    transition: all 0.3s;
    background-color: #333;
}

/*----section キービジュアル-----*/
.keyvisual {
    height: 1000px;
    background-image: url('../images/keyvisual/keyvisual.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
}
.keyvisual-title {
    position: absolute;
    top: 400px;
    margin-bottom: 400px;
    padding: 0 20px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    
}
.keyvisual-title h2 {
    margin-bottom: 30px;
    font-size:  65px;
    font-weight: 700;
    color: #6ba7eb;
}
.keyvisual-title h4 {
    font-size: 40px;
    font-weight: 700;
    color: #fff;
}

/*----section ニュース-----*/
.news {
    background-color: #e3f2fd;
    padding-top: 50px;
    justify-content: center;
}


.left-colam {
    flex: 4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-colam img {
    width: 250px;
}

.right-colam {
    display: flex;
    flex: 6;
    flex-direction: column;
}

.right-colam h3 {
    font-size: 40px;
    letter-spacing: 10px;
    margin-bottom: 35px;
}

.news-text {
    font-size: 15px;
    line-height: 18px;
    word-break: break-all;
}



/*----section スキル-----*/
.skills {
    background-color: #fff;
    padding: 50px 0;
}
.skills ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}
.skill-images img {
    width: 300px;
    height: 300px;
    opacity: 0.7;
}
.skill-images li {
    margin: 50px 100px 50px 0;
}
.skill-images li:nth-child(3n) {
    margin-right: 0;
}

.skill-images img:hover {
    opacity: 1.0;
}



/*----section プラン-----*/
.plan {
    background-color: #d0dfea;
    padding: 50px 0;
}
.plan h3 { 
    margin-bottom: 50px;
}

.plan-table, tbody {
    width: 100%;
    height: auto;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    vertical-align: middle;
}

tr,td,th {
    padding: 10px;
}

.plan-table thead {
    background-color: #6ba7eb;
}

td:nth-child(2), 
td:nth-child(3), 
td:nth-child(4), 
th:nth-child(2), 
th:nth-child(3), 
th:nth-child(4) {
   border-left: 2px solid #fff;
}


tbody td:nth-child(1) {
    font-weight: bold;
}

tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
}

tbody tr:nth-child(even) {
    background-color: #e0efff;
}


/*----section SNS-----*/
.sns {
    justify-content: center;
    background-color: #e3f2fd;
    padding: 200px 0px;
}
.sns a {
    width: 185px;
    font-size: 40px;
    padding: 25px 0;
    color: #8c8c8c;
    overflow:hidden
}

.sns a:hover {
    transition: all 0.5s;
    color: #fff;
}

/*----footer-----*/
footer {
    background-color: #cfd8dc;
    padding: 25px 0px;
    text-align: right;
}
footer p {
    margin: 0;
    font-size: 13px;
    letter-spacing: 0.5px;
    padding-right: 80px;
}